.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    z-index: 1;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}
.nav_logo{
    background-color: currentColor;
    width: 80px;
    position: fixed;
    left: 20px;
    object-fit: contain;
}
.nav_avatar{
    width: 40px;
    position: fixed;
    right: 30px;
    object-fit: contain;
}
.nav_black{
    background-color: rgba(0,0,0,0.94);
}